.subtypes {
  @apply w-[370px] h-[539px] flex flex-col items-center overflow-y-auto;
}

.box {
  @apply w-[350px] flex pr-2;
}

.boxItems {
  @apply h-[80px] flex flex-col justify-center gap-[10px] rounded-[20px] mb-1 pl-5 bg-gray w-full;
}

.boxContent {
  @apply flex flex-row;
}

.boxInfo {
  @apply w-[350px] flex flex-col gap-[6px];
}

.boxInfoSize {
  @apply text-[16px];
}

.p {
  @apply text-xl text-center align-middle table-cell mt-2.5;
}

.p1 {
  @apply text-[26px];
}

.p2 {
  @apply text-[22px] mr-[235px];
}

.buttonsBox {
  @apply flex flex-row;
}

.sideButtonsBox {
  @apply flex flex-row gap-[8px] mr-4;
}
