.subtypes {
  @apply w-[370px] h-[539px] flex flex-col overflow-y-auto;
}

.box {
  @apply w-[350px] h-[100px] flex pl-2;
}

.boxInfo {
  @apply flex flex-col justify-center gap-[10px] rounded-[20px] mb-1 pl-5 bg-gray w-full;
}

.item {
  font-size: 26px;
}

.p1 {
  font-size: 26px;
}

.p2 {
  font-size: 22px;
  margin-left: 20px;
}
