.subtypes {
  @apply w-[370px] h-[539px] flex flex-col items-center overflow-y-auto;
}

.box {
  @apply w-[350px] flex pr-2;
}

.boxItems {
  @apply w-[350px] h-[80px] flex flex-col justify-center gap-[10px] rounded-[20px] mb-1 pl-5 bg-gray w-full;
}

.boxInfoSize {
  font-size: 16px;
}

.item {
  font-size: 26px;
}

.p {
  font-size: 20px;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  margin-top: 10px;
}

.p1 {
  font-size: 26px;
}

.p2 {
  font-size: 22px;
  margin-right: 235px;
}

.buttonsBox {
  display: flex;
  flex-direction: row;
}
