.exercises {
  @apply w-[370px] h-[370px] flex flex-col items-center gap-[1px] overflow-y-auto mt-5;
}

.box {
  @apply w-[350px] flex pr-2;
}

.boxItems {
  @apply w-[350px] h-[80px] flex flex-col mb-1 pl-1 bg-gray w-full rounded-[20px];
}

.boxInfo {
  @apply w-[350px] flex flex-col gap-[8px] pl-[12px] pt-[10px];
}

.boxInfoSize {
  font-size: 16px;
}

.parameterInfoSize {
  font-size: 18px;
}

.noExercises {
  @apply flex items-center justify-center h-full;
  /*Like a parameterInfoSize*/
  font-size: 18px;
}

.parametersBox {
  margin-left: 10px;
  font-size: 16px;
}

.buttonsBox {
  display: flex;
  flex-direction: row;
}

.p {
  font-size: 20px;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  margin-top: 10px;
}