.sortFilter {
    @apply flex items-end gap-[40px] mb-2;
}

.filter {
    @apply flex;
}

.dateRange {
    @apply inline-flex;
}

.workouts {
    @apply  w-[370px] h-[499px] flex flex-col overflow-y-auto;
}

.box {
    @apply flex w-[370px] h-[155px] pl-2 border-solid;
}

.boxInfo {
    @apply flex flex-col justify-center gap-[10px] rounded-[20px] mb-1 pl-5 bg-gray w-full;
}

.noWorkouts {
    @apply flex items-center justify-center h-full;
}

.item {
    font-size: 20px;
}
